# General
.DS_Store

# Thumbnails
._*

# Surroundgen
input/*
output/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Python Egg
*.egg-info/
*.egg

# Python dist and build
dist/
build/

# Audio files
*.wav
*.flac
*.m4a
*.mka
*.mkv
*.mp3
*.mp4
*.mlp
*.ec3
*.eac3
*.ac3
*.dts
*.truehd
